table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid green;
  }

th{
    border:1px solid green;
    height: 30px;
    background-color:springgreen;
}

td{
    border:1px solid salmon;
    height: 30px;
    text-align: center;
}
#forma{
    width: 250px;
    margin: auto;
}