button{
    margin:5px;
    padding:5px;
    width: 150px;
    color:  black;
    font-weight: bold;
}

button:hover{
    background-color: rgb(170, 165, 190);
    color:black;
}

div{
    margin: auto;
    width: 26%;
}